In [89]:
import numpy as np

In [90]:
idade = np.array([70,  9, 17, 12, 19, 58, 60, 45, 69, 39, 63, 11, 48, 16, 27, 14, 55,
       16, 49, 51, 75,  6, 43, 44, 78, 39, 20, 41, 21, 19, 48, 14, 76, 67,
       17, 59, 36, 12, 49,  9, 26, 40, 75, 21, 65, 10, 73, 47, 39, 55,  0,
       46, 31,  7, 40, 31, 47, 56,  1,  9, 68, 44, 52, 69, 29, 10, 25, 76,
       76,  1, 66, 69, 69, 43, 54, 53,  3, 11, 31, 11, 35, 67, 25, 53,  0,
       40, 26, 14, 41, 52, 50, 68, 35,  1, 53, 29, 39, 67, 33, 44, 41, 38,
       18,  2, 66, 36, 34,  7, 56, 58, 78, 75, 65,  3, 21,  0, 74, 41,  9,
       50, 35, 31, 29, 33, 14, 36, 60, 10, 23, 30, 69, 37, 36, 13, 31, 61,
       11, 39, 47,  2, 16, 37, 64, 45, 53, 77, 33, 12, 63, 62, 45, 26, 20,
       61, 29, 69, 37,  4, 41, 75, 35, 36, 10, 27, 67,  5, 29, 65, 38, 33,
       52, 65, 49, 70, 28, 56, 23, 63, 78, 24, 19, 52, 69, 79, 11, 18, 46,
       26, 66, 54, 62, 28, 49, 66, 23, 32, 28, 28, 79, 32])

In [91]:
salario = np.array([15000, 12000,  9000, 27000,  5000, 11000, 10000, 18000, 22000,
       17000, 29000, 24000, 23000, 14000, 10000, 17000,  8000, 11000,
       13000, 17000, 16000,  8000, 10000, 29000, 23000, 10000, 29000,
       20000, 14000, 24000, 11000, 28000, 17000, 29000, 19000, 22000,
       20000,  6000, 16000, 23000, 17000, 12000,  6000,  7000, 12000,
        5000,  6000, 19000, 10000, 11000, 11000, 26000, 21000, 21000,
       28000, 19000,  7000,  5000, 20000,  9000, 17000, 11000, 22000,
       17000, 26000,  7000, 27000, 13000, 25000, 28000,  9000,  8000,
       13000, 13000, 24000,  6000, 11000,  9000, 24000, 19000,  8000,
       19000,  8000, 29000, 24000, 21000, 22000, 14000, 26000, 16000,
       11000, 22000, 15000, 26000, 18000, 29000,  6000, 10000, 14000,
       10000, 14000, 25000, 15000, 26000, 29000,  9000, 13000, 10000,
       10000, 24000, 13000,  8000,  8000, 10000, 10000, 23000,  9000,
       29000, 18000, 22000, 11000, 26000,  7000, 12000, 22000, 26000,
       25000, 21000, 18000,  9000,  8000, 25000, 23000, 13000, 19000,
        7000, 24000, 23000, 23000, 15000, 26000, 12000, 24000, 20000,
       29000, 25000, 26000, 15000,  6000, 20000, 21000, 27000,  8000,
       15000, 27000,  5000,  7000,  6000, 15000, 14000, 24000, 26000,
       16000, 25000,  8000, 20000, 10000,  6000, 13000, 26000, 22000,
       25000, 26000, 20000, 25000, 10000, 15000, 11000, 28000,  5000,
       25000, 12000,  5000, 27000, 27000, 20000, 25000,  7000, 19000,
        6000, 18000, 26000, 12000, 12000, 19000, 22000, 24000, 18000,
       16000, 24000])

In [92]:
cond = idade>30

cond

array([ True, False, False, False, False,  True,  True,  True,  True,
        True,  True, False,  True, False, False, False,  True, False,
        True,  True,  True, False,  True,  True,  True,  True, False,
        True, False, False,  True, False,  True,  True, False,  True,
        True, False,  True, False, False,  True,  True, False,  True,
       False,  True,  True,  True,  True, False,  True,  True, False,
        True,  True,  True,  True, False, False,  True,  True,  True,
        True, False, False, False,  True,  True, False,  True,  True,
        True,  True,  True,  True, False, False,  True, False,  True,
        True, False,  True, False,  True, False, False,  True,  True,
        True,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True, False, False,  True,  True,  True, False,
        True,  True,  True,  True,  True, False, False, False,  True,
        True, False,  True,  True,  True, False,  True, False,  True,
        True, False, False, False,  True,  True,  True, False,  True,
        True, False,  True,  True, False, False,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True, False, False,
        True, False,  True,  True, False,  True,  True,  True,  True,
       False, False,  True, False, False,  True,  True,  True,  True,
        True,  True,  True, False,  True, False,  True,  True, False,
       False,  True,  True,  True, False, False,  True, False,  True,
        True,  True, False,  True,  True, False,  True, False, False,
        True,  True])

In [87]:
if np.all(cond==filter_resp):
    print("Sua resposta está certa! \o/")
else:
    print("Você errou :'(")

Você errou :'(