In [3]:
if (True):
    print("Condição Verdadeira")
else:
    print("Condição Falsa")

Condição Verdadeira

In [25]:
idade = 45
sal = 5000

In [26]:
if (sal < 10_000) & (idade > 50):
    sal = sal*1.1

In [27]:
sal

5000

In [28]:
print(True & True)
print(True & False)
print(False & True)
print(False & False)

True
False
False
False

In [29]:
print(True | True)
print(True | False)
print(False | True)
print(False | False)

True
True
True
False

In [34]:
idade = 31
salario = 5000


if (idade > 40):
    salario = salario*1.1
    
elif (salario)<7000:
    salario = salario*1.2
    
salario

6000.0

In [38]:
idade = 31
salario = 5000


if (idade > 40):
    salario = salario*1.1
    
if (salario) < 7000:
    salario = salario*1.2
    
salario

6000.0