In [2]:
idade = [23, 37, 18, 44, 76]

In [3]:
for ida in idade:
    print(ida-18)

5
19
0
26
58

In [5]:
for idx, ida in enumerate(idade):
    print(idx, ida)

0 23
1 37
2 18
3 44
4 76

In [8]:
salario = [5,7, 3, 10, 12]

In [10]:
for sal, ida in zip(salario, idade):
    print(sal, ida)

5 23
7 37
3 18
10 44
12 76