In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("panda.csv" ,sep = "\t")

df

     CPF  idade
0      3     12
1  34534     15
2  23123     23
3  45234     64
4   2342     23
5      2     34
6      7     76
7   3434     23
8      9     45
9      4     12

In [11]:
df.CPF

0        3
1    34534
2    23123
3    45234
4     2342
5        2
6        7
7     3434
8        9
9        4
Name: CPF, dtype: int64