In [10]:
idade = 37
b=True

if idade >20:
    b = True
else:
    b =not True
    
b

False

In [11]:
idade = 42
b=True

if idade >= 42:
    b = True
else:
    b =not True
    
b

True

In [12]:
idade = 28
b=True

if idade >28 :
    b = True
else:
    b =not True
    
b

False

In [14]:
idade = 31
b=True

if idade != 31:
    b = True
else:
    b =not True
    
b

False

In [15]:
idade = 42
b=True

if (idade>40 & idade<43):
    b = True
else:
    b =not True
    
b

True

In [18]:
idade = 18
b=True

if (idade>15 | idade<20):
    b = True
else:
    b =not True
    
b

True

In [19]:
idade = 18
b=True

if (idade>15 | idade<16):
    b = True
else:
    b =not True
    
b

True

In [20]:
idade = 33
b=True

if (idade<30 & idade>20):
    b = True
else:
    b =not True
    
b

False

In [21]:
idade = 40
b=True

if (idade>40 & idade<40):
    b = True
else:
    b =not True
    
b

False

In [22]:
idade = 44
b=True

if (idade<20 or idade==44):
    b = True
else:
    b =not True
    
b

True

In [23]:
idade = 23
b=True

if (idade>20 & idade<30):
    b = True
else:
    b =not True
    
b

True

In [24]:
idade = 49
b=True

if (idade<20 or idade>40):
    b = True
else:
    b =not True
    
b

True

In [28]:
idade = 40
salario = 7000
b=True

if(idade > 20) and (salario < 10000):
    b=True
else:
    b=not True
    
b

True

In [29]:
idade = 20
salario = 13000
b=True

if(idade > 18) and (salario > 10000) and (salario<15000):
    b=True
else:
    b=not True
    
b

True

In [30]:
idade = 20
salario = 13000
b=True

if(idade > 18) and (salario > 10000) and (salario<15000):
    b=True
else:
    b=not True
    
b

True

In [31]:
idade = 45
salario = 10000
b=True

if(idade < 40) and (idade < 40) or (salario< 5000):
    b=True
else:
    b=not True
    
b

False

In [33]:
idade = 38
salario = 9000
b=True

if(idade > 30) and (idade < 40) or (salario< 5000):
    b=True
else:
    b=not True
    
b

True

In [34]:
idade = 26
salario = 8000
b=True

if((idade > 30) or (idade>60)) and ((salario > 12000) or (salario<9000)):
    b=True
else:
    b=not True
    
b

False